In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data= pd.read_excel('MODELINGNational 1990-2021 -COVERT.xls')
# df = data.loc[:, ~data.columns.str.contains('^Unnamed')]
data.head()

,Years,Green Leaf Production-Kg,pr,Temp,TeaProduction(T),LOG_TEAPROD,LOG_PRE
0,1990,54997892,1128.18,18.90,54997.892,4.740346,3.052378
1,1991,57427032,1131.68,18.88,57427.032,4.759116,3.053724
2,1992,57956886,1087.76,18.86,57956.886,4.763105,3.036533
3,1993,43811060,1075.82,18.84,43811.060,4.641584,3.031740
4,1994,18244961,1235.71,18.91,18244.961,4.261143,3.091917

# Descriptive Analysis section

In [3]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Years,32.0,2.005500e+03,9.380832e+00,1.990000e+03,1.997750e+03,2.005500e+03,2.013250e+03,2.021000e+03
Green Leaf Production-Kg,32.0,8.105713e+07,3.230774e+07,1.824496e+07,5.835435e+07,7.538535e+07,1.029939e+08,1.496273e+08
pr,32.0,1.188045e+03,1.208278e+02,8.536100e+02,1.121485e+03,1.206585e+03,1.241570e+03,1.393130e+03
Temp,32.0,1.919500e+01,2.306932e-01,1.884000e+01,1.905000e+01,1.917500e+01,1.933750e+01,1.964000e+01
TeaProduction(T),32.0,8.105713e+04,3.230774e+04,1.824496e+04,5.835435e+04,7.538535e+04,1.029939e+05,1.496273e+05
LOG_TEAPROD,32.0,4.868839e+00,2.033295e-01,4.261143e+00,4.766070e+00,4.877071e+00,5.012787e+00,5.175011e+00
LOG_PRE,32.0,3.072555e+00,4.579342e-02,2.931259e+00,3.049770e+00,3.081550e+00,3.093971e+00,3.143992e+00

# Time series visualization Section

In [ ]:
sns.set(rc={'figure.figsize':(15,5)})
plt.title("Variation of Tea production")
sns.lineplot(x="Years",y="TeaProduction(T)",data=data,color="darkGreen", marker='o')
plt.show()

In [ ]:
sns.set(rc={'figure.figsize':(15,5)})
plt.title("Variation of Precipitation")
sns.lineplot(x="Years",y="pr",data=data,color="b", marker="*")
plt.show()

In [ ]:
sns.set(rc={'figure.figsize':(15,5)})
plt.title("Variation of Temperature")
sns.lineplot(x="Years",y="Temp",data=data,color="red", marker= ".")
plt.show()

# Correlation Analysis

In [ ]:
sns.lmplot(data=data,x='pr',y='TeaProduction(T)',  ci = None)
plt.title('Tea production vs Precipitation')
plt.show()

In [ ]:
data['TeaProduction(T)'].corr(data['pr'])

In [ ]:
sns.lmplot(data=data,x='Temp',y='TeaProduction(T)', ci=None)
plt.title('Tea production vs Temperature')
plt.show()

In [ ]:
data['TeaProduction(T)'].corr(data['Temp'])

In [ ]:
data1=data[['Years','Temp','LOG_TEAPROD','LOG_PRE']]

In [ ]:
data1.head()

In [ ]:
# acf,pacf plot for all variables 
# from pylab import rcParams
# from statsmodels.graphics.tsaplots import plot_acf
# rcParams['figure.figsize'] = 8,4

# for variable in data1.columns:
#     plot_acf(data1[variable], lags = 30, title = 'ACF of ' + variable)

# Modeling section

In [ ]:
data1.columns

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, mean_absolute_error
from statsmodels.tsa.arima.model import ARIMA

# ARIMA

In [ ]:
arima_results = ARIMA(data1["LOG_TEAPROD"], data1[["Temp","LOG_PRE",]], order=(2,0,3)).fit()
print(arima_results.summary())

# OLS

In [ ]:
model = smf.ols(formula='LOG_TEAPROD ~ Temp + LOG_PRE', data=data1)
res = model.fit()
print(res.summary())

In [ ]:
res.resid.plot(kind="kde")

# Comparing ARIMA and OLS

In [ ]:
import scipy as sp
from statsmodels.graphics.gofplots import qqplot
fig, (ax1, ax2) = plt.subplots(1,2, figsize=(16,8))
sm.qqplot(res.resid, sp.stats.t, fit=True, line="45", ax=ax1);
ax1.set_title("OLS qqplot");
sm.qqplot(arima_results.resid, sp.stats.t, fit=True, line="45", ax=ax2);
ax2.set_title("ARIMA qqplot");
plt.show();

In [ ]:
# data1.columns

In [ ]:
# np.correlate(data1['LOG_TEAPROD'],data1['Temp'] )

In [ ]:
# import statsmodels.api as sm
# #calculate cross correlation
# sm.tsa.stattools.ccf(data1['LOG_TEAPROD'], data1['Temp'], adjusted=False)

In [ ]:
# import statsmodels.api as sm
# #calculate cross correlation
# sm.tsa.stattools.ccf(data1['LOG_TEAPROD'], data1['LOG_PRE'], adjusted=False)